<% if !current_user %>
  <p id='alert'><%= alert %></p>
<div class="login-center">
  <h1 class="text-color text-center">Login</h1>
  <%= form_tag sessions_path do |form| %>
  <div class='field col'>
    <%= label_tag :email %>
    <%= text_field_tag :email, "",class: 'form-control' %>
  </div>
  <div class='field col mb-2'>
    <%= label_tag :password %>
    <%= password_field_tag :password, "", class: 'form-control' %>
  </div>
  <div class='row mt-3'>
    <div class="actions col">
      <%= submit_tag 'Login', class: 'btn text-white btn-shadow btn-width' %>
    </div>
    <div class='col col-width'>
      <%= link_to "Forgot your password?", password_reset_path %>
      <%= link_to "Create Account", signup_path  %>
    </div>
  </div>
  <% end %>
</div>
<% end %>

