<div class = "login-center">
<h1>Forgot Password?</h1>

<%= form_with url: password_reset_path do |form| %>

  <div class="col">
    <%= form.label :email %>
    <%= form.text_field :email, class: "form-control", placeholder: "Enter Email" %>
  </div>

  <div class="actions">
    <%= form.submit 'Reset Password', class: "btn btn-shadow text-white my-3" %>
  </div>
  <%= link_to 'Back', login_path, class: "btn btn-dark text-white" %>

<% end %>
</div>