
<div id="comment-<%= comment.id %>">

<article>
  <div class="row">
    <div class="col-2">
      <div>
        <% if comment.user.profile_img.attached? %>
          <%= image_tag comment.user.profile_img, class: "rounded-circle w-25" %>
        <% end%>
      </div>
    </div>
    <div class="col-4">
      <div class="row">
        <small style="color:#1A1E8D;font-style:italic;">by <%= comment.user.name %></small>
      </div>
      <div class="row">
        <p style="font-size:16px;"><%= comment.content %></p>
      </div>
      <div class="row">
        <div class="col-2">
          <small style="color:#1A1E8D;margin:0 10px;">Posted <%= time_ago_in_words(comment.created_at) %> ago</small>
        </div>
        <div class="col-2">
          <%= render partial: 'likes/form', locals: { likeable: comment } %>
        </div>
      </div>
    </div>
  </div>
  <% if current_user && current_user == comment.user %>
    <%= link_to 'Delete', 'comment', "data-toggle"=>"modal", "data-target" => "#deletecomment_#{comment.id}",:class=>'btn button1 button2 text-danger' %>
  <% end %>

</article>
</div>
 <div class="modal fade" id="deletecomment_<%= comment.id %>">
    <div class="modal-dialog">
      <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">Comment Delete Confirmation</h5>
            </div>
            <div class="modal-body">
              <p>Are you sure to delete?</p>
            </div>
            <div class="modal-footer">
                <a href="#" data-dismiss="modal" class="btn button1">Cancel</a>
                <%= button_to 'Delete', movie_comment_path(@movie,comment), method: :delete, :class => 'btn button1 button2' %>
            </div>
      </div>
    </div>
    </div>

<hr />