
<div id="comment-<%= comment.id %>">

<article>
  <div class="row mt-5">
    <div class="col-2 col-lg-1 col-md-2 col-sm-2 col-xs-2">
      <% if comment.user.profile_img.attached? %>
        <%= image_tag comment.user.profile_img, class: "cmm-profile" %>
      <% end%>
    </div>
    <div class="col-10 col-lg-4 col-md-10 col-sm-10 col-xs-10">
      <div class="row cmm-form">
        <small style="color:#000;font-weight:bold;" class="pt-2" ><%= comment.user.name %></small>
        <p class="cmm-content"><%= comment.content %></p>
      </div>
      <div class="row">
        <div class="col-5 col-lg-6 col-md-4 col-sm-6 col-xs-6">
          <small style="color:#1A1E8D;margin:0 10px;"><%= time_ago_in_words(comment.created_at) %> ago</small>
        </div>
        <div class="col-5 col-lg-5 col-md-4 col-sm-5 col-xs-4">
          <%= render partial: 'likes/form', locals: { likeable: comment } %>
        </div>
        <div class="col-2 col-lg-1 col-md-4 col-sm-1 col-xs-2">
          <% if current_user && current_user == comment.user %>
            <%= link_to 'Delete', 'comment', "data-toggle"=>"modal", "data-target" => "#deletecomment_#{comment.id}",:class=>'btn button1 button2 text-danger' %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  
</article>
</div>
 <div class="modal fade" id="deletecomment_<%= comment.id %>">
    <div class="modal-dialog">
      <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">Comment Delete Confirmation</h5>
            </div>
            <div class="modal-body">
              <p>Are you sure to delete?</p>
            </div>
            <div class="modal-footer">
                <a href="#" data-dismiss="modal" class="btn button1">Cancel</a>
                <%= button_to 'Delete', movie_comment_path(@movie,comment), method: :delete, :class => 'btn button1 button2 btn-danger' %>
            </div>
      </div>
    </div>
    </div>

<hr />