<%= form_with(model: movie, url:confirm_movies_path, local: true) do |form| %>  
  <div class="profile-center">
    <h1 class="text-color text-center">New Movie</h1>
    <div class="field form-group col mb-3">
      <% if movie.errors[:title].any? %>
        <%= form.label :title, class: "required text-danger" %>
        <%= form.text_field :title , class:"form-control border-danger shadow-none"%>
      <% movie.errors.full_messages_for(:title).each do |message| %>
        <div class="text-danger"><%= message %></div>
      <% end %>
      <% else %>
        <%= form.label :title %>
        <%= form.text_field :title , class:"form-control"%>
      <% end %>
    </div>

    <div class="field form-group col mb-3">
      <% if movie.errors[:price].any? %>
        <%= form.label :price, class: "required text-danger" %>
        <%= form.number_field :price, class:"form-control border-danger shadow-none", :placeholder => '$' %>
      <% movie.errors.full_messages_for(:price).each do |message| %>
        <div class="text-danger"><%= message %></div>
      <% end %>
      <% else %>
        <%= form.label :price %>
        <%= form.number_field :price, class:"form-control", :placeholder => '$' %>
      <% end %>
    </div>

    <div class="field form-group col mb-3">
      <% if movie.errors[:category].any? %>
        <%= form.label :category, class: "required text-danger" %>
        <%= form.text_field :category , class:"form-control border-danger shadow-none"%>
      <% movie.errors.full_messages_for(:category).each do |message| %>
        <div class="text-danger"><%= message %></div>
      <% end %>
      <% else %>
        <%= form.label :category %>
        <%= form.text_field :category , class:"form-control"%>
      <% end %>
    </div>

    <div class="field form-group col mb-3">
      <%= form.label :director %>
      <%= form.text_field :director, class:"form-control" %>
    </div>

    <div class="field form-group col mb-3">
      <%= form.label :description %>
      <%= form.text_area :desc, class:"form-control" %>
    </div>

    <div class="field form-group col mb-3">
      <%= form.label :trailer_link %>
      <%= form.text_field :trailer_link, class:"form-control" %>
    </div>

    <div class="field form-group col mb-3">
      <%= form.label :cast %>
      <%= form.text_field :cast, class:"form-control col-md-4" %>
    </div>

    <div class="field form-group col mb-3">
      <%= form.label :rotten_tomatoe %>
      <%= form.text_field :rotten_tomatoe, class:"form-control col-md-4" %>
    </div>

    <div class="field form-group col mb-3 ">
      <%= form.label :imdb %>
      <%= form.text_field :imdb, class:"form-control col-md-4" %>
    </div>

    <div class="field form-group col mb-3">
      <%= form.label :release_date %>
      <%= form.date_field :release_date, class:"form-control" %>
    </div>

    <div class="actions form-group">
      <%= link_to 'Back', movies_path, class:"btn btn-dark" %>
      <%= form.submit 'Confirm', class:"btn btn-shadow text-white ms-2" %>
    </div>
  </div>

<% end %>

  