<%= form_with(model: @movie, local: true) do |form| %>

<div class="profile-center">
<h1 class="text-color">Confirmation</h1>
  <div class="col">
    <%= form.label :title %>
    <%= form.text_field :title, class: "form-control", :readonly => true %>
  </div>

  <div class="col">
    <%= form.label :price %>
    <%= form.text_field :price, class: "form-control", :readonly => true %>
  </div>

  <div class="col">
    <%= form.label :category %>
    <%= form.text_field :category, class: "form-control", :readonly => true  %>
  </div>

  <% if @movie.movie_detail.director.present? %>  
    <div class="col">
      <%= form.label :director %>
      <%= form.text_field :director, value: @movie.movie_detail.director , class: "form-control", :readonly => true %>
    </div>
  <% end %>

  <% if @movie.movie_detail.desc.present? %>
    <div class="col my-2">
      <%= form.label :desc %>
      <%= form.text_area :desc, value: @movie.movie_detail.desc, class: "form-control", :readonly => true %>
    </div>
  <% end %>

  <% if @movie.movie_detail.trailer_link.present? %>
    <div>
      <%= form.label :trailer_link %>
      <%= form.text_field :trailer_link ,value: @movie.movie_detail.trailer_link, class:"form-control", :readonly => true %>
    </div>
  <% end %>

  <% if @movie.movie_detail.cast.present? %>
    <div class="col my-2">
      <%= form.label :cast %>
      <%= form.text_field :cast, value: @movie.movie_detail.cast, class: "form-control", :readonly => true %>
    </div>
  <% end %>

  <% if @movie.movie_detail.rotten_tomatoe.present? %>
    <div class="col">
      <%= form.label :rotten_tomatoe %>
      <%= form.text_field :rotten_tomatoe, value: @movie.movie_detail.rotten_tomatoe ,class: "form-control", :readonly => true %>
    </div>
  <% end %>

  <% if @movie.movie_detail.imdb.present? %>
    <div class="col">
      <%= form.label :imdb %>
      <%= form.text_field :imdb, value: @movie.movie_detail.imdb, class: "form-control", :readonly => true %>
    </div>
  <% end %>

  <% if @movie.movie_detail.release_date.present? %>    
    <div class="col">
      <%= form.label :release_date %>
      <%= form.date_field :release_date, value: @movie.movie_detail.release_date, class:"form-control", :readonly => true %>
    </div>
  <% end %>

  <div class="col mt-2 mb-3">
    <%= form.label :poster_img %>
    <%= form.file_field :poster_img, class: "form-control", multiple: true %>
  </div>

    <%= link_to 'Back', new_movie_path, class: "btn btn-dark text-white" %>
    <%= form.submit "Create Movie", class: "btn btn-shadow text-white ms-2" %>
</div>
  <% end %>