<!--<p>name: <%= @movie.title%></p>
<p>age: <%= @movie.category%></p>
<p>Email: <%= @movie.price%></p>
#Up to this point for display

#From here for storage
<%= form_with(model: @movie, local: true) do |f| %>
  <%= f.hidden_field :title %>
  <%= f.hidden_field :category %>
  <%= f.hidden_field :price %>
  <%= f.submit "Send" %>
  <%= f.submit "Return", name: :back %>
<% end %>-->


<!--<div class="modal-body">
    <div class="col-lg-12">
        <p>
        <strong>Movie Title:</strong>
        <%= @movie.title %>
        </p>

        <p>
        <strong>Category:</strong>
        <%= @movie.category %>
        </p>

        <p>
        <strong>Price:</strong>
        <%= @movie.price %>
        </p>
    </div>

    <%= form_with(model: @movie, local: true) do |f| %>
      <%= f.hidden_field :title %>
      <%= f.hidden_field :category %>
      <%= f.hidden_field :price %>
      <%= f.submit "Send" %>
  <%= f.submit "Return", name: :back %>
<% end %>
</div>
<div class='modal-footer'>
    <button type="button" class="btn btn-secondary btn-lg close-modal" data-bs-dismiss="modal">Close</button>
</div>-->

<div class="container h-100">
  <div class="row h-100 justify-content-center align-items-center">
    <div class="col-10 col-md-8 col-lg-6">
      <h1>Confirmation</h1>

      <p>
      <strong>Movie Title:</strong>
      <%= @movie.title %>
      </p>

      <p>
      <strong>Category:</strong>
      <%= @movie.category %>
      </p>

      <p>
      <strong>Price:</strong>
      <%= @movie.price %>
      </p>

      <p>
      <strong>Description:</strong>
      <%= @movie.movie_detail.desc %>
      </p>

      <p>
      <strong>Director:</strong>
      <%= @movie.movie_detail.director %>
      </p>

      <p>
      <strong>Cast:</strong>
      <%= @movie.movie_detail.cast %>
      </p>

      <p>
      <strong>Trailer:</strong>
      <%= @movie.movie_detail.trailer_link %>
      </p>

      <p>
      <strong>IMDB:</strong>
      <%= @movie.movie_detail.imdb %>
      </p>

      <p>
      <strong>Rotten Tomatoe:</strong>
      <%= @movie.movie_detail.rotten_tomatoe %>
      </p>

      <p>
      <strong>Release Date:</strong>
      <%= @movie.movie_detail.release_date %>
      </p>

      <p>
      <strong>Poster Image:</strong>
      <% @movie.poster_img.each do |poster_img| %>
          <%= image_tag(poster_img) %>
      <% end %>
      </p>

      <%= form_with(model: @movie, local: true) do |f| %>
        <%= f.hidden_field :title %>
        <%= f.hidden_field :category %>
        <%= f.hidden_field :price %>
        <%= f.hidden_field :desc %>
        <%= f.hidden_field :director%>
        <%= f.hidden_field :cast %>
        <%= f.hidden_field :trailer_link %>
        <%= f.hidden_field :imdb%>
        <%= f.hidden_field :rotten_tomatoe%>
        <%= f.hidden_field :poster_img%>
        <!--<%= f.label :poster_img, class:'col-sm-2 col-form-label' %> --> 
        <!--<%= f.file_field :poster_img, multiple: true, class:"form-control-file" %> <br/>-->
        <%= f.hidden_field :release_date%>
        <%= f.submit "Submit", class: 'btn button1 button2' %>
        <%= link_to 'Back', new_movie_path, class: 'btn button1 button2' %>
      <% end %>
      </div>
    </div>
  </div>
</div>