<p id="notice"><%= notice %></p>

<!--<p>
  <strong>Title:</strong>
  <%= @movie.title %>
</p>

<p>
  <strong>Price:</strong>
  <%= @movie.price %>
</p>

<p>
  <strong>Category:</strong>
  <%= @movie.category %>
</p>

<p>
  <strong>Poster img:</strong>
  <% @movie.poster_img.each do |poster_img| %>
    <div>
      <%= link_to poster_img.filename, poster_img %>
      <%= image_tag(poster_img) %>
    </div>
  <% end %>
</p>

<%= link_to 'Edit', edit_movie_path(@movie) %> |
<%= link_to 'Back', movies_path %>-->

<div class="media">
  <% @movie.poster_img.each do |poster_img| %>
    <%= image_tag(poster_img, class:"align-self-start mr-3", width: "300px", height: "300px" ) %><br/>
  <% end %>
  
  <div class="media-body">
    <h5 class="mt-0"> <%= @movie.title %> </h5>
    
    <p>Desc: <%= @movie.movie_detail.desc%></p>
    <p>Release Date : <%= @movie.movie_detail.release_date.strftime('%m/%d/%Y') %></p>
    <p>Cast : <%= @movie.movie_detail.cast%></p>
    <p>Director : <%= @movie.movie_detail.director%> </p>
    <p id="star-rating" data-score = <%= @movie.movie_detail.imdb %> ></p>
    <div>
      <% @movie.movie_detail.imdb.to_i.times do  %>
        <span class="glyphicon glyphicon-star"></span>
        <span class="glyphicon glyphicon-star"></span>
      <% end %>
    </div>
    <p>
    <%= @movie.movie_detail.imdb.to_i %>
    </p>
    <p>Trailer Link : <%= @movie.movie_detail.trailer_link %> </p>
    <%= link_to 'Back', movies_path %>
  </div>
</div>

<script>
  $('#star-rating').raty({
    path: "/assets/"
    readOnly: true,
    score: function () {
      return $(this).attr('data-score');
    }
  });

</script>