<div class="row">
    <div class="col-12 col-lg-4 col-md-5" >
    <div>
      <% @movie.poster_img.each do |poster_img| %>
          <%= image_tag(poster_img, class: "img-thumbnail") %>
        <% end %>
    </div>
    </div>
    <div class="col-0 col-lg-6 col-md-7">
      <div class="card-body">

      <table class="table table-borderless">
        <thead>
        <tr>
          <th><h5 class="card-title"> Title</h5></th>
          <th><h5 class="card-title"><%= @movie.title %></h5></th>
        </tr>
        </thead>
        <tbody class="card-text">
          <tr>
            <td><strong>Description</strong>
            <td><%= @movie.movie_detail.desc%></td>
          </tr>
          <tr>
            <td><strong>Category</strong>
            <td><%= @movie.category%></td>
          </tr>
          <tr>
            <td><strong>Director</strong></td>
            <td><%= @movie.movie_detail.director%></td>
          </tr>
          <tr>
            <td><strong>Cast</strong></td>
            <td><%= @movie.movie_detail.cast%></td>
          </tr>
          <tr>
            <td><strong>Release Date</strong></td>
            <td><%= @movie.movie_detail.try(:release_date).try(:strftime, "%m/%d/%Y") %></td>
          </tr>
          <tr>
            <td colspan="2">
            <% @movie.movie_detail.imdb.to_i.times do  %>
              <span class="fas fa-star star-icon2" style="color:yellow"></span>
            <% end %>
            </td>
          </tr>
          <tr>
            <td colspan = "2" class="card-text fs-1 text-danger" > <%= @movie.movie_detail.rotten_tomatoe %></td>
          </tr>
        </tbody>
      </table>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <a href="https://www.youtube.com/embed/<%= @movie.movie_detail.trailer_link.split('/').last %>" class="trailer btn-shadow">Show Trailer</a>
    </div>
  </div>
<div class="row mt-5">
  <h4>Comments:</h4>
  <%= render @movie.comments.order(id: :desc) %>
  <%= render partial: 'comments/cform', locals: {movie: @movie } %>
</div>