<p id="notice"><%= notice %></p>

<p>
  <strong>Release date:</strong>
  <%= @movie_detail.release_date %>
</p>

<p>
  <strong>Director:</strong>
  <%= @movie_detail.director %>
</p>

<p>
  <strong>Trailer link:</strong>
  <%= @movie_detail.trailer_link %>
</p>

<p>
  <strong>Cast:</strong>
  <%= @movie_detail.cast %>
</p>

<p>
  <strong>Rotten tomatoe:</strong>
  <%= @movie_detail.rotten_tomatoe %>
</p>

<p>
  <strong>Imdb:</strong>
  <%= @movie_detail.imdb %>
</p>

<%= link_to 'Edit', edit_movie_detail_path(@movie_detail) %> |
<%= link_to 'Back', movie_details_path %>
