<%= form_with(model: user ,url: confirm_users_path(user)) do |form| %>


<div class="profile-center">
<h1 class="text-color text-center">Signup</h1>
  <div class="col">
    <%= form.label :name %>
    <%= form.text_field :name, class: "form-control" %>
  </div>

  <% if current_user && current_user.user_type == "Admin"  %>
    <div class="col my-2">
      <%= form.label :user_type %>
      <%= form.select :user_type, [['Please select a user', nil], 'Admin', 'User'], {}, {class: 'form-control'}  %>
    </div>
    <% else %>
    <div class="d-none">
      <%= form.select :user_type, ['User'], {}, {class: 'form-control'}  %>
    </div>
  <% end %>

  <div class="col">
    <% if user.errors[:email].any? %>
      <%= form.label :email, class: "required text-danger" %>
      <%= form.text_field :email, class: "form-control border-danger shadow-none" %>
      <% user.errors.full_messages_for(:email).each do |message| %>
        <div class="text-danger"><%= message %></div>
      <% end %>
    <% else %>
      <%= form.label :email %>
      <%= form.text_field :email, class: "form-control" %>
    <% end %> 
  </div>

  <div class="col my-2">
  <% if user.errors[:password].any? %>
    <%= form.label :password, class: "required text-danger" %>
    <%= form.password_field :password, class: "form-control border-danger shadow-none" %>
    <% user.errors.full_messages_for(:password).each do |message| %>
        <div class="text-danger"><%= message %></div>
      <% end %>
    <% else %>
    <%= form.label :password %>
    <%= form.password_field :password, class: "form-control" %>
    <% end %>
  </div>

  <div class="col">
    <%= form.label :phone %>
    <%= form.number_field :phone, class: "form-control" %>
  </div>

  <div class="col my-2">
    <%= form.label :address %>
    <%= form.text_field :address, class: "form-control" %>
  </div>

  <div class="col mb-3">
    <%= form.label :dob %>
    <%= form.date_field :dob, class: "form-control" %>
  </div>

  <div class="">
  <% if current_user %>
    <%= link_to 'Back', users_path, class: "btn btn-dark text-white btn-width" %>
  <% else %>
    <%= link_to 'Back', login_path, class: "btn btn-dark text-white" %>
  <% end %>
   <%= form.submit 'Confirm', class: "btn btn-shadow text-white ms-2 btn-width" %>

  </div>

</div>
<% end %>
