<%= form_with(model: @user, local: true) do |form| %>

<div class="profile-center">
<h1 class="text-color">Confirmation</h1>
  <div class="col">
    <%= form.label :name %>
    <%= form.text_field :name, class: "form-control", :readonly => true %>
  </div>

  <% if current_user.present? %>
    <div class="col my-2">
      <%= form.label :user_type %>
      <%= form.select :user_type, [['Please select a user', nil], 'Admin', 'User'], {}, {class: 'form-control'}  %>
    </div>
    <% else %>
    <div class="d-none">
      <%= form.select :user_type, ['User'], {}, {class: 'form-control'}  %>
    </div>
  <% end %>

  <div class="col">
    <%= form.label :email %>
    <%= form.text_field :email, class: "form-control", :readonly => true %>
  </div>

  <div class="col my-2">
    <% if @user.errors.any? %>
      <%= form.label :password_confirmation, class: "required text-danger" %>
      <%= form.password_field :password, class: "form-control border-danger shadow-none" %>
    <% else %>
      <%= form.label :password_confirmation %>
      <%= form.password_field :password, class: "form-control" %>
    <% end %>
  </div>

<% if @user.phone.present? %>
  <div class="col">
    <%= form.label :phone %>
    <%= form.number_field :phone, class: "form-control", :readonly => true %>
  </div>
<% end %>

<% if @user.address.present? %>
  <div class="col my-2">
    <%= form.label :address %>
    <%= form.text_field :address, class: "form-control", :readonly => true %>
  </div>
<% end %>

<% if @user.dob.present? %>
    <div class="col">
    <%= form.label :dob %>
    <%= form.date_field :dob, class: "form-control", :readonly => true %>
  </div>
<% end %>

  <div class="col mt-2 mb-3">
    <%= form.label :profile_img %>
    <%= form.file_field :profile_img, class: "form-control", direct_upload: true, :accept => "image/x-png,image/gif,image/jpeg" %>
  </div>

    <%= link_to 'Back', signup_path, class: "btn btn-dark text-white" %>
    <%= form.submit "Create User", class: "btn btn-shadow text-white ms-2" %>
</div>
  <% end %>