<% if current_user.user_type == "Admin" %>
<h4 class="display-6 mt-3">User List</h4>
<div class="table-responsive-sm table-responsive-md mt-3">
  <table class="table table-striped">
    <thead class="thead-color">
      <tr>
        <th>Name</th>
        <% if current_user.user_type == "Admin" %>
        <th>User Type</th>
        <% end %>
        <th>Email</th>
        <th>Phone</th>
        <th>Address</th>
        <th>Dob</th>
        <th>Profile img</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody class="table-shadow">
      <% @users.each do |user| %>
        <tr>
          <td><%= user.name %></td>
          <% if current_user.user_type == "Admin" %>
            <td><%= user.user_type %></td>
          <% end %>
          <td><%= user.email %></td>
          <td><%= user.phone %></td>
          <td><%= user.address %></td>
          <td><%= user.dob %></td>
          <td><%= image_tag user.profile_img, class:"img-width" if user.profile_img.attached? %></td>
          <td>
            <div class="dropdown">
              <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                Operations
              </button>
              <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                <li><%= link_to 'Show', user, class: 'dropdown-item' %></li>
                <li><%= link_to 'Edit', edit_user_path(user), class: "dropdown-item" %></li>
                <li>
                  <%= link_to 'Delete', '#', "data-toggle"=>"modal", "data-target" => "#deletepost_#{user.id}", class: "dropdown-item" %>
                </li>
              </ul>
            </div>
          </td>
        </tr>
        <div class="modal fade" id="deletepost_<%= user.id %>">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title">User Delete Confirmation</h5>
              </div>
              <div class="modal-body">
                <p>Are you sure to delete?</p>
              </div>
              <div class="modal-footer">
                <a href="#" data-dismiss="modal" class="btn btn-outline-dark">Cancel</a>
                <%= button_to 'Delete', user, method: :delete, :class => 'btn btn-danger' %>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </tbody>
  </table>
</div>

<br>
<%== pagy_bootstrap_nav(@pagy) %>
<br>
<%= link_to 'New User', new_user_path, class: "btn btn-shadow text-white" %>

<% end %>

   
        
