<table class="table table-striped mt-5">
  <thead class="table-dark">
    <tr>
      <th>Name</th>
      <th>User Type</th>
      <th>Email</th>
      <th>Phone</th>
      <th>Address</th>
      <th>Dob</th>
      <th>Profile img</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.name %></td>
        <td><%= user.user_type %></td>
        <td><%= user.email %></td>
        <td><%= user.phone %></td>
        <td><%= user.address %></td>
        <td><%= user.dob %></td>
        <td><%= image_tag user.profile_img, class:"img-width" if user.profile_img.attached? %></td>
        <td>
          <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
              Operations
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
              <li><%= link_to 'Show', user, class: 'dropdown-item' %></li>
              <li><%= link_to 'Edit', edit_user_path(user), class: "btn btn-secondary btn-sm dropdown-item" %></li>
              <li><%= button_to 'Delete', user, method: :delete, data: { confirm: 'Are you sure?'}, class: "btn btn-danger btn-sm dropdown-item" %></li>
            </ul>
          </div>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New User', new_user_path, class: "btn btn-primary text-white" %>
