<p id="notice"><%= notice %></p>

<div class="col-md-3">
  <p class="form-control">
    <strong>Name:</strong>
    <%= @user.name %>
  </p>
</div>

<div class="col-md-3">
  <p class="form-control">
  <strong>User Type:</strong>
  <%= @user.user_type %>
  </p>
</div>

<div class="col-md-3">
  <p class="form-control">
  <strong>Email:</strong>
  <%= @user.email %>
  </p>
</div>

<div class="col-md-3">
  <p class="form-control">
  <strong>Password digest:</strong>
  <%= @user.password_digest %>
  </p>
</div>

<div class="col-md-3">
  <p class="form-control">
  <strong>Phone:</strong>
  <%= @user.phone %>
  </p>
</div>

<div class="col-md-3">
  <p class="form-control">
  <strong>Address:</strong>
  <%= @user.address %>
  </p>
</div>

<div class="col-md-3">
  <p class="form-control">
  <strong>Dob:</strong>
  <%= @user.dob %>
  </p>
</div>

<div class="col-md-3">
  <p class="form-control">
  <strong>Profile img:</strong>
  <% @user.profile_img.each do |profile_img| %>
    <%= link_to profile_img.filename, profile_img %>
  <% end %>
  </p>
</div>
<%= link_to 'Edit', edit_user_path(@user), class: "btn btn-sm btn-outline-secondary" %> |
<%= link_to 'Back', users_path, class: "btn btn-sm btn-dark text-white" %>
