<%= form_with(model: order, url: confirm_orders_path(order)) do |form| %>
  <% if order.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(order.errors.count, "error") %> prohibited this order from being saved:</h2>

      <ul>
        <% order.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="profile-center">

    <div class="col">
      <% current_movie.poster_img.each do |poster_img| %>
        <%= image_tag(poster_img, height: "200px", class:"card-img-top") %>
      <% end %>
    </div>

    <div class="col my-3">
      <%= form.label :title %>
      <%= form.text_field :title, value: current_movie.title, class: 'form-control', :readonly => true %>
    </div>

    <div class="field col my-3">
      <%= form.label :qty %>
      <%= form.number_field :qty, class: 'form-control' %>
    </div>

    <%= form_with model: @movie do |f| %>
      <%= f.hidden_field :movie_id, value: current_movie.id %>
    <% end %>

    <div class="field col">
      <%= form.label :deliver_date %>
      <%= form.date_field :deliver_date, class: 'form-control' %>
    </div>

    <div class="field col my-3">
      <%= form.label :deliver_flg %>
      <div class="checkbox">
        <%= form.check_box :deliver_flg %>
      </div>
    </div>

    <%= link_to 'Back', movies_path, class: "btn btn-dark text-white" %>
    <%= form.submit class: "btn btn-shadow text-white ms-2" %>
  </div>
<% end %>
