<p id="notice"><%= notice %></p>

<table class="table table-striped">
  <thead class="table-dark">
    <tr>
      <th>Total price</th>
      <th>Qty</th>
      <th>Deliver date</th>
      <th>Deliver flg</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @orders.each do |order| %>
      <tr>
        <td><%= order.total_price %></td>
        <td><%= order.qty %></td>
        <td><%= order.deliver_date %></td>
        <td><%= order.deliver_flg %></td>
        <td><%= link_to 'Show', order %></td>
        <td><%= link_to 'Edit', edit_order_path(order) %></td>
        
        <td><%= link_to 'Delete', '#', "data-toggle"=>"modal", "data-target" => "#deleteorder_#{order.id}", class: "dropdown-item" %></td>
        
      </tr>
      <div class="modal fade" id="deleteorder_<%= order.id %>">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">Order Delete Confirmation</h5>
            </div>
            <div class="modal-body">
              <p>Are you sure to delete?</p>
            </div>
            <div class="modal-footer">
              <a href="#" data-dismiss="modal" class="btn btn-outline-dark">Cancel</a>
              <%= button_to 'Delete', order, method: :delete, :class => 'btn btn-danger' %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Order', new_order_path %>
