<div class="table-responsive-sm table-responsive-md mt-5">
  <table class="table table-striped">
    <thead class="thead-color">
      <tr>
        <th>Title</th>
        <th>Total price</th>
        <th>Qty</th>
        <% if current_user.user_type == "Admin" %>
          <th>Order of email</th>
        <% end %>
        <th>Deliver date</th>
        <th>Deliver flg</th>
        <th>Operations</th>
      </tr>
    </thead>

    <tbody class="table-shadow">
      <% @orders.each do |order| %>
        <tr>
          <td class="border-left"><%= order.movie.title %></td>
          <td><%= order.movie.price * order.qty %></td>
          <td><%= order.qty %></td>
          <% if current_user.user_type == "Admin" %>
            <td><%= order.user.email %></td>
          <% end %>
          <td><%= order.deliver_date %></td>
          <td><%= order.deliver_flg %></td>
          <td class="border-right">
            <div class="dropdown">
              <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                Operations
              </button>
              <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                <li><%= link_to 'Show', order, class: 'dropdown-item' %></li>
                <li><%= link_to 'Edit', edit_order_path(order), class: "dropdown-item" %></li>
                <li>
                  <%= link_to 'Delete', '#', "data-toggle"=>"modal", "data-target" => "#deleteorder_#{order.id}", class: "dropdown-item" %>
                </li>
              </ul>
            </div>
          </td>
        </tr>
        <div class="modal fade" id="deleteorder_<%= order.id %>">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title">Order Delete Confirmation</h5>
              </div>
              <div class="modal-body">
                <p>Are you sure to delete?</p>
              </div>
              <div class="modal-footer">
                <a href="#" data-dismiss="modal" class="btn btn-outline-dark">Cancel</a>
                <%= button_to 'Delete', order, method: :delete, :class => 'btn btn-danger' %>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </tbody>
  </table>
</div>

<br>

<%= link_to 'New Order', movies_path, class: "btn btn-shadow text-white" %> <br/><br/>

<% if current_user.user_type == "Admin" %>

<canvas id="myChart" style="max-height:600px; max-width:600px;"></canvas>

<script>

var xValues = []
// var yValues = [<%=@arrays["Action"]%>,<%=@arrays["Drama"]%>, <%=@arrays["Thriller"]%>]
<% @movies.each do |movie|%>
  xValues.push("<%= movie.category %>")
<% end %>

var yValues = []

<% @movies.each do |movie|%>
  yValues.push("<%=@arrays[movie.category]%>")
<% end %>


// <% @orders.each do |order| %>
//   yValues.push("<%= order.id %>")
// <% end %>

var barColors = ["red", "green","blue","orange","brown"];


  new Chart("myChart", {
  type: "bar",
  data: {
    labels: xValues,
    datasets: [{
      backgroundColor: barColors,
      data: yValues
    }]
  },
    options: {
    legend: {display: false},
    title: {
      display: true,
      text: "Order chart"
    },
    scales: {
            yAxes: [{
              ticks: {
                beginAtZero: true
              } 
            }]
        }

  }
});
</script>
<% end %>



