<div class="profile-center">

  <p class="form-control">
    <strong>Total price:</strong>
    <%= @order.movie.price * @order.qty %>
  </p>

  <p class="form-control">
    <strong>Qty:</strong>
    <%= @order.qty %>
  </p>

  <p class="form-control">
    <strong>Deliver date:</strong>
    <%= @order.deliver_date %>
  </p>

  <p class="form-control">
    <strong>Deliver flg:</strong>
    <%= @order.deliver_flg %>
  </p>

  <div class="d-flex justify-content-end">
    <%= link_to 'Edit', edit_order_path(@order), class: "btn btn-sm btn-outline-secondary me-3" %> |
    <%= link_to 'Back', orders_path, class: "btn btn-sm btn-dark ms-3" %>
  </div>
</div>